.image-container {
    min-height: 300px;
    width: 100%;
    background-size: 100% 90%;
    background-repeat: no-repeat;
}

.no-news-articles {
    color: #000000;
}

a.info {
    color: #007bff !important;
}

.story-item {
    margin-bottom: 30px;
}

.story-item h6 {
    padding: 10px;
}

.noimage {
    background-image: url(img/no-image.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.15);
    transition: all .25s;
    transition-property: box-shadow,transform;
    background-color: #fff;
    border-radius: .25rem;
    vertical-align: top;
    margin: 0 .5rem 1rem;
    min-height: 520px;
}

.card:hover, .card:focus {
    box-shadow: 0 6px 12px 0 rgba(0,0,0,0.4);
    transform: translateY(-4px);
}

a {
    color: #212529;
}
a:hover {
    text-decoration: none;
}

.more {
    overflow: hidden;
}

a.read-more {
    padding: 0px 10px;
    color: #007bff;
}

.project-description {
    margin: 30px auto;
    padding: 0px 15px;
}

.demo-area {
    margin-top: 50px;
}

#demo-country-picker {
    position: absolute;
    top: 10%;
    left: 2%;
    width: auto;
    border: 1px solid #45c4e6;
    border-radius: 25px;
}

.load-news {
    position: absolute;
    top: 20%;
    left: 2%;
}

div#demo-country-picker:focus,
div#demo-country-picker:active,
div#demo-country-picker button{
    outline: none !important;
    box-shadow: unset;
}

div#demo-country-picker ul {
    min-width: 300px;
}

div#demo-country-picker ul li {
    cursor: pointer;
    margin: 5px 0px;
    padding: 2px 0px;
}

div#demo-country-picker ul li:not(:first-child):hover {
    color: #16181b;
    text-decoration: none;
    background-color: #f8f9fa;
}

div#demo-country-picker button {
    border-radius: 25px;
}

div#demo-country-picker button:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}

.pace {
    -webkit-pointer-events: none;
    pointer-events: none;

    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.pace-inactive {
    display: none;
}

.pace .pace-progress {
    background: #29d;
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 100%;
    width: 100%;
    height: 2px;
}

@media only screen and (max-width: 991px) {
    .demo-area {
        margin-top: 150px;
    }

    .load-news {
        left: 5%;
        width: 89%;
        margin-top: 100px;
    }

    #demo-country-picker {
        width: 92%;
        margin-top: 100px;
    }
    div#demo-country-picker button:hover {
        width: 100%;
    }

    h1 {
        top: unset;
        left:unset;
    }
}